/*-- scss:defaults --*/

// Color Definitions
$darkred: #830f00;
$navy: #09234c;
$blue: #2d4c81;
$orange: #c54c07;
$gold: #ff9f2a;
$purple: #5a303d;
$mauve:#ae666f;
$cream: #F4F3EE;
$charcoal: #222222;
$black: #000000;
$url-blue: #0018F9;

// Define Defaults
$body-bg: $cream;
$body-color: $charcoal;
$link-color: $url_blue;

/*-- scss:rules --*/

// Quick refs for core palette
.darkred { color: $darkred; }
.blue { color: $blue; }
.navy { color: $navy; }
.purple { color: $purple; }
.mauve { color: $mauve; }
.charcoal { color: $charcoal; }
.orange { color: $orange; }
.black { color: $black; }
.cream { color: $cream; }
.gold { color: $gold; }

//Underline URLs
.reveal .slide a { text-decoration: underline; }
